html, body {
  font-family: sans-serif;
}

a {
  color: #0069d9;
  text-decoration: none;
}

a:focus, a:hover {
  color: #606c76;
}

.logo {
  float: left;
  display: flex;
  flex-direction: column;
  color: #000000;
  font-weight: bold;
}

header nav ul, header nav li {
  margin: 0;
  padding: 0;
  display: block;
  text-align: right;
  white-space: nowrap;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  position: relative;
  width: 100%;
}

header section {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main .container {
  padding-top: 2rem;
}
